
@model List<FoodRestaurant.Models.Dish>
@{

	ViewData["Title"] = "Menu";
	ViewData["Controller"] = "Menu";
}
<div class="container">
	<div class="row">
		@foreach (var item in Model)
		{
			<div class="col-6">
				<div>
					@item.Name
				</div>
				<div>
					<img src="@item.imageUrl" style="width: 30%; height:30%;">
				</div>
				<div>
					@item.price ₽
				</div>
				<div>
					<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					<a class="btn btn-info" asp-action="Update" asp-route-id="@item.Id">Update</a>
				</div>
				
			</div>	
		
		}
	</div>
	<div style="margin-top: 20px;" class="d-flex justify-content-center">
		<a class="btn btn-info" asp-action="Create">Create new Dish!</a>
	</div>
</div>